<div class="navBar">
    <div class="home">
        <a class="navItem" href="/"> <i class="fa-regular fa-calendar navIcon"></i> <h3 class="navSection">Home</h3> </a>
    </div>

    <div class="work">
        <a class="navItem" href="/work"> <i class="fa-solid fa-briefcase navIcon"></i> <h3 class="navSection">Work</h3> </a>
    </div>
</div>